* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Condensed', 'Concert One', 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, rgba(165,237,185,1) 0%, rgba(59,183,126,1) 100%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 70%;
    max-width: 1200px;
    height: 80%;
    overflow: hidden;
}

#container__content__img--logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
}

#title--createaccount {
    color: #fff;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.container__content__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}

.container__content__form label {
    color: #fff;
    align-self: flex-start;
    margin-bottom: 5px;
}

.container__content__form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #fff;
}

.submit-button {
    background-color: #3ab479;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #2eb06b;
}

span {
    color: #fff;
    margin-top: 10px;
}

span a {
    color: #3ab479;
    text-decoration: none;
}

span a:hover {
    text-decoration: underline;
}

.container__illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #3ab479;
}

.container__illustration--img {
    max-width: 100%;
    height: auto;
}

/* Existing styles here */

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.popup-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
    border-radius: 10px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
